@using Microsoft.AspNetCore.Identity
@using ProductionLibrary
@inject UserManager<User> userManager

@*@{
    }*@
@model Production

<div class="topnav mb-3">
  <a asp-controller="Production" asp-action="MainPage" asp-route-id="@Model.Id">Overview</a>
  <a asp-controller="Production" asp-action="Units" asp-route-id="@Model.Id">Units</a>
  <a asp-controller="Production" asp-action="Missions" asp-route-id="@Model.Id" class="active">Missions</a>
  <a asp-controller="Production" asp-action="ManagerPanel" asp-route-id="@Model.Id" >Manager Panel</a>
</div>

<h2 class="subtitle-box">@Model.ProductionName's missions</h2>
@if (Model.ProdTasks.Where(p => p.ProdTaskStatusId == 1 || p.ProdTaskStatusId == 2).Count() == 0)
{
    <h3 class="warning-box">No avaiable missions curently</h3>
    <a asp-controller="ProdTask" asp-action="Create" asp-route-productionId="@Model.Id" class="btn btn-blue">New Mission</a>
}
else
{
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th width="100%" class="h2 text-center border-white border-top-0 coltitle">Avaiable missions(@Model.ProdTasks.Where(t => t.ProdTaskStatusId == 1 && t.ProductionId == Model.Id).Count())</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary">
                    @foreach (var prodTask in Model.ProdTasks.OrderBy(p => p.ProdTaskStatusId).Where(t => (t.ProdTaskStatusId == 1 || t.ProdTaskStatusId == 2) && t.ProductionId == Model.Id))
                    {
                        if (prodTask.ProdTaskStatusId == 1)
                        {

                            <div class="card border bodyground my-2 bg-warning" width="100%">
                                <div class="card-body">
                                    <h5 class="card-title">@prodTask.TaskName</h5>
                                    <hr>
                                    <pre readonly class="card-text">@prodTask.TaskDescription</pre>
                                    <hr>
                                    <h5 style="color: blue">Assigned:</h5>
                                    
                                        <div class="new-task">New Task !</div>
                                    <hr>
                                    <a asp-controller="ProdTask" asp-action="AssignProdTask" asp-route-id="@prodTask.Id" asp-route-productionId="@Model.Id" class="btn btn-blue mt-4">Take Mission</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border bodyground my-2" width="100%">
                                <div class="card-body">
                                    <h5 class="card-title">@prodTask.TaskName</h5>
                                    <hr>
                                    <pre readonly class="card-text">@prodTask.TaskDescription</pre>
                                    <hr>
                                    <h5 style="color: blue">Assigned:</h5>
                                    @foreach (var prodTaskUsers in prodTask.ProdTaskUsers.Where(p => p.ProdTaskId == prodTask.Id))
                                    {
                                        <div class="assigned mt-3">@prodTaskUsers.UserName</div>
                                    }
                                    <hr>
                                    @{
                                        var t = prodTask.ProdTaskUsers.Where(p => p.ProdTaskId == prodTask.Id && p.UserId == @userManager.GetUserId(User));
                                    }
                                    @if (t.Count() == 0)
                                    {
                                        <a asp-controller="ProdTask" asp-action="AssignProdTask" asp-route-id="@prodTask.Id" asp-route-productionId="@Model.Id" class="btn btn-blue mt-4">Take Mission</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="ProdTask" asp-action="AssignProdTask" asp-route-id="@prodTask.Id" asp-route-productionId="@Model.Id" class="btn btn-red mt-4">Remove Mission</a>
                                    }
                                    @if (t.Count() != 0)
                                   {
                                    <a asp-controller="ProdTask" asp-action="FinishTask" asp-route-id="@prodTask.Id" asp-route-productionId="@Model.Id" class="btn btn-green mt-4 ml-3">Mission completed</a>                                       
                                   }
                                </div>
                            </div>
                        }
                    }
                </td>

            </tr>
        </tbody>
    </table>

    <a asp-controller="ProdTask" asp-action="Create" asp-route-productionId="@Model.Id" class="btn btn-blue">New Mission</a>
}